export RNA_CLIENT_ID=012BbE6cSMPNpLueL0FAY218g1fB3S4m
export RNA_CLIENT_SECRET=Yw39j8b67uyy9hB00-Lo7TYYNNe3lkknzUliwdJ3RqZVhPQQgO63u2JjiMumxWHb

export GHPAT=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
export IAM_ARN=arn:aws:iam::333436430567:role/ArmoryRole
